.author {
  position: absolute;
  z-index: 10;
  transition: all 250ms ease;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  bottom: 0;
  margin-bottom: 0;
  right: inherit;
  text-align: center;

  strong {
    color: var(--color-secondary);
    font-weight: 700;
  }

  a {
    color: var(--color-primary-lighter);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    z-index: 999;
  }

  @media screen and (min-width: 920px) {
    font-size: 1rem;
    right: 0.3rem;
  }
}
