.qrItem {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 0;
  left: 0;
  background-color: var(--color-tertiary-dark);

  .qrImageContainer {
    width: 75%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .qrImage {
      height: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
      max-width: 280px; 
      max-height: 280px;
      margin-top: 0.5rem;
    }
  }

  .qrData {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1.4rem;
      max-width: 10ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-right: 1rem;

      .button {
        font-size: 1.2rem;
        opacity: 0.7;
        cursor: pointer;
        transition: all 150ms ease;

        &:hover {
          opacity: 1;
          color: var(--color-primary);
        }
      }
    }
  }
}
