.noQr {
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  gap: 2rem;

  h1 {
    margin: 0;
  }

  strong {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-primary);
  }

  img {
    position: relative;
    max-width: 200px;
    transform: rotateZ(10deg);
  }

  @media screen and (min-width: 792px) {
    flex-direction: row;
    gap: 3rem;

    h1 {
      font-size: 4rem;
      line-height: 1;
    }

    strong {
      font-weight: 700;
      font-size: 5rem;
    }
  }
}
